<!-- Start Advanced Tab area -->
<div class="rainbow-advance-tab-area aiwave-bg-gradient rainbow-section-gap-big">
    <div class="container">
        <div class="html-tabs" data-tabs="true">
            <div class="row row--30">
                <div class="col-lg-12 mt--60">
                    <div
                        class="advance-tab-button advance-tab-button-1 right-top">
                        <ul class="nav nav-tabs tab-button-list"
                            id="myTab-3" role="tablist">
    
                            <li class="col-lg-3 nav-item"
                                role="presentation">
                                <a href="#"
                                    class="nav-link tab-button active"
                                    id="home-tab-3"
                                    data-bs-toggle="tab"
                                    data-bs-target="#home-3"
                                    role="tab"
                                    aria-controls="home-3"
                                    aria-selected="true">
                                    <div class="tab">
                                        <h4 class="title">Create Your AI Agent</h4>
                                    </div>
                                </a>
                            </li>
    
                            <li class="col-lg-3 nav-item"
                                role="presentation">
                                <a href="#"
                                    class="nav-link tab-button"
                                    id="profile-tab-3"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-3"
                                    role="tab"
                                    aria-controls="profile-3"
                                    aria-selected="false">
                                    <div class="tab">
                                        <h4 class="title">AI Agent Marketplace</h4>
                                    </div>
                                </a>
                            </li>
    
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 mt--30">
                    <div class="tab-content">
                        <div
                            class="tab-pane fade show active advance-tab-content-1 right-top"
                            id="home-3" role="tabpanel"
                            aria-labelledby="home-tab-3">
                            <div class="rainbow-splite-style">
                                <div class="split-wrapper">
                                    <div
                                        class="row g-0 radius-10 align-items-center">
                                        <div
                                            class="col-lg-12 col-xl-5 col-12">
                                            <div class="thumbnail">
                                                <img class="radius"
                                                    src="assets/images/split/split-1.png"
                                                    alt="split Images">
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-12 col-xl-7 col-12">
                                            <div
                                                class="split-inner">
                                                <div
                                                    class="subtitle">
                                                    <span
                                                        class="theme-gradient">How
                                                        it
                                                        work</span>
                                                </div>
                                                <h2
                                                    class="title sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="200">Connect
                                                    with Al
                                                    chatbot</h2>
                                                <p
                                                    class="description sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="300">Dentify
                                                    the platform or
                                                    interface
                                                    through which
                                                    you can access
                                                    the chatbot.
                                                    This could be a
                                                    website, a
                                                    messaging app,
                                                    or a dedicated
                                                    application.</p>
                                                <div
                                                    class="view-more-button mt--35 sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="400">
                                                    <a
                                                        class="btn-default color-blacked"
                                                        href="contact.html">Try
                                                        It Now <i
                                                            class="fa-sharp fa-light fa-arrow-right ml--5"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="tab-pane fade advance-tab-content-1"
                            id="profile-3" role="tabpanel"
                            aria-labelledby="profile-tab-3">
                            <div class="rainbow-splite-style">
                                <div class="split-wrapper">
                                    <div
                                        class="row g-0 radius-10 align-items-center">
                                        <div
                                            class="col-lg-12 col-xl-5 col-12">
                                            <div class="thumbnail">
                                                <img class="radius"
                                                    src="assets/images/split/split-4.png"
                                                    alt="split Images">
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-12 col-xl-7 col-12">
                                            <div
                                                class="split-inner">
                                                <div
                                                    class="subtitle">
                                                    <span
                                                        class="theme-gradient">Exploring
                                                        Efficiency</span>
                                                </div>
                                                <h2
                                                    class="title sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="200">Streamline
                                                    Your
                                                    Workflow</h2>
                                                <p
                                                    class="description sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="300">Discover
                                                    tools and
                                                    techniques to
                                                    optimize your
                                                    workflow, making
                                                    your tasks more
                                                    efficient and
                                                    manageable.</p>
                                                <div
                                                    class="view-more-button mt--35 sal-animate"
                                                    data-sal="slide-up"
                                                    data-sal-duration="400"
                                                    data-sal-delay="400">
                                                    <a
                                                        class="btn-default color-blacked"
                                                        href="contact.html">Try
                                                        It Now <i
                                                            class="fa-sharp fa-light fa-arrow-right ml--5"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="bg-shape">
        <img src="assets/images/bg/split-bg-shape.png"
            alt="Bg Shape">
    </div>
    </div>
    <!-- End Advanced Tab Area -->
    