<div class="inner-shape">
    <img
        src="assets/images/bg/icon-shape/icon-shape-one.png"
        alt="Icon Shape"
        class="iconshape iconshape-one">
    <img
        src="assets/images/bg/icon-shape/icon-shape-two.png"
        alt="Icon Shape"
        class="iconshape iconshape-two">
    <img
        src="assets/images/bg/icon-shape/icon-shape-three.png"
        alt="Icon Shape"
        class="iconshape iconshape-three">
    <img
        src="assets/images/bg/icon-shape/icon-shape-four.png"
        alt="Icon Shape"
        class="iconshape iconshape-four">
</div>