<!-- Start CTA Style-one Area  -->
<div class="rainbow-rn-cta">
    <div class="container">
        <div class="row row--0 align-items-center content-wrapper">
            <div class="col-lg-8">
                <div class="inner">
                    <div class="content text-left">
                        <h4 class="title sal-animate"
                            data-sal="slide-up"
                            data-sal-duration="400"
                            data-sal-delay="200">Join our aI Experts
                            community</h4>
                        <p class="sal-animate" data-sal="slide-up"
                            data-sal-duration="400"
                            data-sal-delay="300">Meet and learn from
                            80+ creators & companies who share how
                            thay use AI to create better content at
                            lightning speed.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <div
                        class="call-to-btn text-start text-lg-end sal-animate"
                        data-sal="slide-up" data-sal-duration="400"
                        data-sal-delay="400">
                        <div class="team-image">
                            <img
                                src="assets/images/cta-img/team-01.png"
                                alt="Group Image">
                        </div>
                        <a class="btn-default" href="#">Join Now
                            Today Free</a>
                    </div>
                </div>
            </div>
            <div class="bg-shape">
                <img src="assets/images/cta-img/bg-shape-01.png"
                    alt="BG Shape">
            </div>
        </div>
    </div>
</div>
<!-- End CTA Style-one Area  -->