<div
class="tab-content p-0 bg-transparent border-0 border bg-light"
id="nav-tabContent">
<div class="tab-pane fade" id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab">
    <div class="row row--15">
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-regular fa-circle-radiation"></i>
                            </div>
                            <h4
                                class="title color-var-one">Basic</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">Free</span>
                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default btn-border"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave active">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-sharp fa-regular fa-flower"></i>
                            </div>
                            <h4
                                class="title color-var-two">Premium</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">$60.50</span>
                                <span
                                    class="text">/Per
                                    Month</span>

                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section has-show-more">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1 has-show-more-inner-content">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        12,700
                                        7-9
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                                <div
                                    class="rbt-show-more-btn">Show
                                    More</div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
                <div
                    class="feature-badge">Best
                    Offer</div>
            </div>
        </div>
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-sharp fa-regular fa-waveform-lines"></i>
                            </div>
                            <h4
                                class="title color-var-three">Enterprise</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">$80.50</span>
                                <span
                                    class="text">/Per
                                    Month</span>
                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section has-show-more">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1 has-show-more-inner-content">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        15,700
                                        15-30
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                                <div
                                    class="rbt-show-more-btn">Show
                                    More</div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default btn-border"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade active show"
    id="nav-profile" role="tabpanel"
    aria-labelledby="nav-profile-tab">
    <div class="row row--15">
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-regular fa-circle-radiation"></i>
                            </div>
                            <h4
                                class="title color-var-one">Basic</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">Free</span>
                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default btn-border"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave active">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-sharp fa-regular fa-flower"></i>
                            </div>
                            <h4
                                class="title color-var-two">Premium</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">$499.00</span>
                                <span
                                    class="text">/Per
                                    Year</span>

                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section has-show-more">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1 has-show-more-inner-content">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        12,700
                                        7-9
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                                <div
                                    class="rbt-show-more-btn">Show
                                    More</div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
                <div
                    class="feature-badge">Best
                    Offer</div>
            </div>
        </div>
        <div
            class="col-xl-4 col-lg-6 col-md-6 col-12 mt--30">
            <div
                class="rainbow-pricing style-aiwave">
                <div
                    class="pricing-table-inner">
                    <div
                        class="pricing-top">
                        <div
                            class="pricing-header">
                            <div
                                class="icon">
                                <i
                                    class="fa-sharp fa-regular fa-waveform-lines"></i>
                            </div>
                            <h4
                                class="title color-var-three">Enterprise</h4>
                            <p
                                class="subtitle">For
                                large teams
                                &
                                corportaions</p>
                            <div
                                class="pricing">
                                <span
                                    class="price-text">$599.00</span>
                                <span
                                    class="text">/Per
                                    Year</span>
                            </div>
                        </div>
                        <div
                            class="pricing-body">
                            <div
                                class="features-section has-show-more">
                                <h6>Features</h6>
                                <ul
                                    class="list-style--1 has-show-more-inner-content">
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        15,700
                                        15-30
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        7,700
                                        3-5
                                        day
                                        turnarouord
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        6+
                                        Naive
                                        development
                                    </li>
                                    <li>
                                        <i
                                            class="fa-regular fa-circle-check"></i>
                                        5+
                                        Task
                                        delivered
                                        one-by-one
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        AI
                                        Blog
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                    <li>
                                        <i
                                            class="fa-sharp fa-regular fa-minus-circle"></i>
                                        Advance
                                        Updates
                                        via
                                        dashboard
                                        &
                                        slack
                                    </li>
                                </ul>
                                <div
                                    class="rbt-show-more-btn">Show
                                    More</div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="pricing-footer">
                        <a
                            class="btn-default btn-border"
                            href="#">Get
                            Started</a>
                        <p
                            class="bottom-text">Limited
                            Offer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>