<nav class="aiwave-tab">
    <div
        class="tab-btn-grp nav nav-tabs text-center justify-content-center"
        id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home"
            aria-selected="false">
            Monthly
        </button>
        <button class="nav-link with-badge active"
            id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button" role="tab"
            aria-controls="nav-profile"
            aria-selected="true">
            Yearly
            <span
                class="rainbow-badge-card badge-border">-10%</span>
        </button>
    </div>
</nav>