<div
class="rainbow-service-area rainbow-section-gap rainbow-section-gapBottom-big">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title text-left"
                data-sal="slide-up" data-sal-duration="400"
                data-sal-delay="150">
                <h4 class="subtitle">
                    <span class="theme-gradient">Assisting
                        individuals</span>
                </h4>
                <h2 class="title mb--60">
                    Chat Smarter, Not <br> Harder with
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div
                class="service-wrapper rainbow-service-slider-actvation slick-grid-15 rainbow-slick-dot rainbow-gradient-arrows">
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-01.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Ask
                                    anything</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-02.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Connect
                                    everywhere</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-03.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Fast
                                    responding</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-01.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Ask
                                    anything</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-02.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Connect
                                    everywhere</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
                <div class="slide-single-layout">
                    <div
                        class="rainbow-box-card card-style-default aiwave-service-default has-bg-shaped">
                        <div class="inner">
                            <div class="icon">
                                <img
                                    src="assets/images/icons/service-icon-03.svg"
                                    alt="Servece Icon">
                            </div>
                            <div
                                class="description centered-shape">
                                <h5 class="title">Fast
                                    responding</h5>
                                <p class="desc">Lets users
                                    quickly find answers to
                                    their questions without
                                    having to search through
                                    multiple sources.</p>
                                <a class="read-more-btn"
                                    href="#">Explore More
                                    <span><i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></span></a>
                            </div>
                        </div>
                        <div class="bg-shaped">
                            <img
                                src="assets/images/service/bg.png"
                                alt class="bg">
                            <img
                                src="assets/images/service/bg-hover.png"
                                alt class="bg-hover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>