<div class="rainbow-service-area rainbow-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center pb--60"
                    data-sal="slide-up" data-sal-duration="700"
                    data-sal-delay="100">
                    <h4 class="subtitle">
                        <span class="theme-gradient">RAINBOW UNLOCKS
                            THE POTENTIAL ai</span>
                    </h4>
                    <h2 class="title mb--0">Generative AI made for
                        <br> creators.</h2>
                </div>
            </div>
        </div>

        <div class="row row--30 align-items-center">
            <div class="col-lg-12">
                <div
                    class="rainbow-default-tab style-three generator-tab-defalt">
                    <ul class="nav nav-tabs tab-button"
                        role="tablist">
                        <li class="nav-item tabs__tab "
                            role="presentation">
                            <button
                                class="nav-link rainbow-gradient-btn without-shape-circle"
                                id="video-generator-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#video-generate"
                                type="button" role="tab"
                                aria-controls="video-generate"
                                aria-selected="false"><span
                                    class="generator-icon"><img
                                        src="assets/images/icons/video-g.png"
                                        alt="Vedio Generator Icon">Vedio
                                    Generator</span><span
                                    class="border-bottom-style"></span></button>
                        </li>
                        <li class="nav-item tabs__tab"
                            role="presentation">
                            <button
                                class="nav-link rainbow-gradient-btn without-shape-circle active"
                                id="audio-generator-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#audio-generate"
                                type="button" role="tab"
                                aria-controls="audio-generate"
                                aria-selected="true"><span
                                    class="generator-icon"><img
                                        src="assets/images/icons/audio-g.png"
                                        alt="Vedio Generator Icon">Audio
                                    Generator</span><span
                                    class="border-bottom-style"></span></button>
                        </li>
                        <li class="nav-item tabs__tab "
                            role="presentation">
                            <button
                                class="nav-link rainbow-gradient-btn without-shape-circle"
                                id="photo-generator-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#photo-generate"
                                type="button" role="tab"
                                aria-controls="photo-generate"
                                aria-selected="false"><span
                                    class="generator-icon"><img
                                        src="assets/images/icons/photo-g.png"
                                        alt="Vedio Generator Icon">Photo
                                    Generator</span><span
                                    class="border-bottom-style"></span></button>
                        </li>
                        <li class="nav-item tabs__tab "
                            role="presentation">
                            <button
                                class="nav-link rainbow-gradient-btn without-shape-circle"
                                id="text-generator-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#text-generate"
                                type="button" role="tab"
                                aria-controls="text-generate"
                                aria-selected="false"><span
                                    class="generator-icon"><img
                                        src="assets/images/icons/text-g.png"
                                        alt="Vedio Generator Icon">Text
                                    Generator</span><span
                                    class="border-bottom-style"></span></button>
                        </li>
                        <li class="nav-item tabs__tab "
                            role="presentation">
                            <button
                                class="nav-link rainbow-gradient-btn without-shape-circle"
                                id="code-generator-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#code-generate"
                                type="button" role="tab"
                                aria-controls="code-generate"
                                aria-selected="false"><span
                                    class="generator-icon"><img
                                        src="assets/images/icons/code-g.png"
                                        alt="Vedio Generator Icon">Code
                                    Generator</span><span
                                    class="border-bottom-style"></span></button>
                        </li>
                    </ul>

                    <div class="rainbow-tab-content tab-content">
                        <div class="tab-pane fade"
                            id="video-generate" role="tabpanel"
                            aria-labelledby="video-generator-tab">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="section-title">
                                            <h2 class="title">Video
                                                generating AI refers
                                                to artificial
                                                intelligence.</h2>
                                            <div
                                                class="features-section">
                                                <ul
                                                    class="list-style--1">
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Transformer
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Conditional
                                                        Generative
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Pre-trained
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Variational
                                                        Autoencoders</li>
                                                </ul>
                                            </div>
                                            <div
                                                class="read-more"><a
                                                    class="btn-default color-blacked"
                                                    href="#">Start
                                                    Exploring Now <i
                                                        class="fa-sharp fa-solid fa-arrow-right"></i></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-6 mt_md--30 mt_sm--30">
                                        <div class="export-img">
                                            <div
                                                class="inner-without-padding">
                                                <div
                                                    class="export-img img-bg-shape">
                                                    <img
                                                        src="assets/images/generator-img/chat-export-vedio.png"
                                                        alt="Chat example Image">
                                                    <div
                                                        class="image-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show active"
                            id="audio-generate" role="tabpanel"
                            aria-labelledby="audio-generator-tab">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="section-title">
                                            <h2 class="title">Audio
                                                generating AI refers
                                                to artificial
                                                intelligence.</h2>
                                            <div
                                                class="features-section">
                                                <ul
                                                    class="list-style--1">
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Transformer
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Conditional
                                                        Generative
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Pre-trained
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Variational
                                                        Autoencoders</li>
                                                </ul>
                                            </div>
                                            <div
                                                class="read-more"><a
                                                    class="btn-default color-blacked"
                                                    href="#">Start
                                                    Exploring Now <i
                                                        class="fa-sharp fa-solid fa-arrow-right"></i></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-6 mt_md--30 mt_sm--30">
                                        <div class="export-img">
                                            <div
                                                class="inner-without-padding">
                                                <div
                                                    class="export-img img-bg-shape">
                                                    <img
                                                        src="assets/images/generator-img/chat-export-audio.png"
                                                        alt="Chat example Image">
                                                    <div
                                                        class="image-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade"
                            id="photo-generate" role="tabpanel"
                            aria-labelledby="photo-generator-tab">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="section-title">
                                            <h2 class="title">Photo
                                                generating AI refers
                                                to artificial
                                                intelligence.</h2>
                                            <div
                                                class="features-section">
                                                <ul
                                                    class="list-style--1">
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Transformer
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Conditional
                                                        Generative
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Pre-trained
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Variational
                                                        Autoencoders</li>
                                                </ul>
                                            </div>
                                            <div
                                                class="read-more"><a
                                                    class="btn-default color-blacked"
                                                    href="#">Start
                                                    Exploring Now <i
                                                        class="fa-sharp fa-solid fa-arrow-right"></i></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-6 mt_md--30 mt_sm--30">
                                        <div class="export-img">
                                            <div
                                                class="inner-without-padding">
                                                <div
                                                    class="export-img img-bg-shape">
                                                    <img
                                                        src="assets/images/generator-img/chat-export-photo.png"
                                                        alt="Chat example Image">
                                                    <div
                                                        class="image-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade"
                            id="text-generate" role="tabpanel"
                            aria-labelledby="text-generator-tab">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="section-title">
                                            <h2 class="title">Text
                                                generating AI refers
                                                to artificial
                                                intelligence.</h2>
                                            <div
                                                class="features-section">
                                                <ul
                                                    class="list-style--1">
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Transformer
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Conditional
                                                        Generative
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Pre-trained
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Variational
                                                        Autoencoders</li>
                                                </ul>
                                            </div>
                                            <div
                                                class="read-more"><a
                                                    class="btn-default color-blacked"
                                                    href="#">Start
                                                    Exploring Now <i
                                                        class="fa-sharp fa-solid fa-arrow-right"></i></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-6 mt_md--30 mt_sm--30">
                                        <div class="export-img">
                                            <div
                                                class="inner-without-padding">
                                                <div
                                                    class="export-img img-bg-shape">
                                                    <img
                                                        src="assets/images/generator-img/chat-export.png"
                                                        alt="Chat example Image">
                                                    <div
                                                        class="image-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade"
                            id="code-generate" role="tabpanel"
                            aria-labelledby="code-generator-tab">
                            <div class="inner">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="section-title">
                                            <h2 class="title">Code
                                                generating AI refers
                                                to artificial
                                                intelligence.</h2>
                                            <div
                                                class="features-section">
                                                <ul
                                                    class="list-style--1">
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Transformer
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Conditional
                                                        Generative
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Pre-trained
                                                        Models</li>
                                                    <li><i
                                                            class="fa-regular fa-circle-check"></i>Variational
                                                        Autoencoders</li>
                                                </ul>
                                            </div>
                                            <div
                                                class="read-more"><a
                                                    class="btn-default color-blacked"
                                                    href="#">Start
                                                    Exploring Now <i
                                                        class="fa-sharp fa-solid fa-arrow-right"></i></a></div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-xl-6 mt_md--30 mt_sm--30">
                                        <div class="export-img">
                                            <div
                                                class="inner-without-padding">
                                                <div
                                                    class="export-img img-bg-shape">
                                                    <img
                                                        src="assets/images/generator-img/chat-export-code.png"
                                                        alt="Chat example Image">
                                                    <div
                                                        class="image-shape"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>