---
const { heading, cards = [] } = Astro.props;
---
<section>
  <div class="container">
    {heading && <h2 class="text-center mb-48">{heading}</h2>}
    <div class="card-grid">
      {cards.map(card => (
        <div class="card">
          <h4>{card.title}</h4>
          <p>{card.body}</p>
          {card.visual && (
            <div class="card-visual" set:html={card.visual.replace(/\n/g, '<br>')} />
          )}
        </div>
      ))}
    </div>
  </div>
</section>
