---
const { links = [] } = Astro.props;
---
<div class="mobile-menu">
  {links.map(link => (
    <a href={link.href} {...(link.external ? { target: '_blank' } : {})}>
      {link.label}
    </a>
  ))}
</div>
