---
const { columns = [], conclusion } = Astro.props;
---
<section>
  <div class="container">
    <div class="two-col-text">
      {columns.map(col => (
        <div>
          <h3>{col.heading}</h3>
          <p>{col.body}</p>
        </div>
      ))}
    </div>
    {conclusion && <p class="two-col-centered">{conclusion}</p>}
  </div>
</section>
