---
const { heading, body, diagram, reverse = false } = Astro.props;
---
<section>
  <div class="container">
    <div class={`feature-block ${reverse ? 'reverse' : ''}`}>
      <div class="feature-text">
        <h3>{heading}</h3>
        <p>{body}</p>
      </div>
      <div class="feature-diagram" set:html={diagram.replace(/\n/g, '<br>')} />
    </div>
  </div>
</section>
