---
const { heading, values = [] } = Astro.props;
---
<section>
  <div class="container">
    {heading && <h2 class="text-center mb-48">{heading}</h2>}
    <div class="value-list">
      {values.map(v => (
        <p>{v}</p>
      ))}
    </div>
  </div>
</section>
