---
import { cn } from '../lib/utils';

const { columnsHtml = [], divider = false, className } = Astro.props;
---

<div
  class={cn(
    'grid grid-cols-1 md:grid-cols-3',
    divider && 'divide-y md:divide-y-0 md:divide-x divide-border dark:divide-zinc-800',
    className
  )}
>
  {columnsHtml.map((html) => (
    <div set:html={html} />
  ))}
</div>
