---
import { cn } from '../lib/utils';

const {
  leftHtml,
  rightHtml,
  split = '5-7',
  mobileOrder = 'left-first',
  align = 'center',
  gap = 'lg',
  divider = false,
  className,
} = Astro.props;

const splitStyles = {
  '5-7': { left: 'lg:col-span-5', right: 'lg:col-span-7' },
  '7-5': { left: 'lg:col-span-7', right: 'lg:col-span-5' },
  '6-6': { left: 'lg:col-span-6', right: 'lg:col-span-6' },
  '4-8': { left: 'lg:col-span-4', right: 'lg:col-span-8' },
  '8-4': { left: 'lg:col-span-8', right: 'lg:col-span-4' },
};

const gapStyles = {
  sm: 'gap-8',
  md: 'gap-12',
  lg: 'gap-16',
  xl: 'gap-24',
};

const alignStyles = {
  start: 'items-start',
  center: 'items-center',
  end: 'items-end',
};

const splitClass = splitStyles[split] ?? splitStyles['5-7'];
---

<div
  class={cn(
    'grid grid-cols-1 lg:grid-cols-12',
    gapStyles[gap] ?? gapStyles.lg,
    alignStyles[align] ?? alignStyles.center,
    divider && 'divide-y lg:divide-y-0 lg:divide-x divide-border dark:divide-zinc-800',
    className
  )}
>
  <div class={cn('col-span-1', splitClass.left, mobileOrder === 'right-first' && 'lg:order-first order-last')}>
    <div set:html={leftHtml} />
  </div>
  <div class={cn('col-span-1', splitClass.right, mobileOrder === 'right-first' && 'lg:order-last order-first')}>
    <div set:html={rightHtml} />
  </div>
</div>
